body {}

h1 {
    font-family: Arial;
}

P {text-indent: 0px;
    text-align: justify;
    color: black;
    font-family: Arial;
    font-size: 12px;
}

#master a
{
    background-color: #57b573;
    color: #ffffff;
}

#master a:hover
{
    background-color: #57b573;
    color: #ffffff;
}

#master a.active
{
    background-color: #57b573;
    color: #ffffff;
}

#master ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif !important;
    width: 15em;
    font-size:12px;
    font-weight: 300;
}

#master li a
{
    display: block;
    color: #FFF;
    background-color: #172937;
    width: 192px;
    padding: 8px 12px 8px 8px;
    text-decoration: none;
    border-bottom: 1px solid #526870;
    font-weight: normal;
}

.master_primary {
    text-transform: uppercase;
    font-weight: normal;
    background-color: burlywood;
    width: 192px;
}

#master li li a
{
    display: block;
    color: #FFF;
    background-color: #172937;
    width: 190px;
    padding: 8px 3px 8px 28px;
    text-decoration: none;
    border-bottom: 1px solid #526870;
    font-weight: normal;
}
#master li li li a
{
    display: block;
    color: #FFF;
    background-color: #172937;
    width: 192px;
    padding: 8px 3px 8px 48px;
    text-decoration: none;
    border-bottom: 1px solid #526870;
    font-weight: normal;
}
#master li li li li a
{
    display: block;
    color: #FFF;
    background-color: #7FCCFA;
    width: 12.75em;
    padding: 3px 3px 3px 52px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    font-weight: normal;
}